*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #f5f7fa,#bccee9, #cc93f3, #4843d4);
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
}

.card-container {
  perspective: 1500px;
  width: 320px;            
}

.card {
  width: 100%;
  height: 480px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  
}

.card:hover,
.card:focus-within {       
  transform: rotateY(180deg);
}


.card-face {
  position: absolute;
  inset: 0;
  border-radius: 20px;
  overflow: hidden;
  backface-visibility: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 32px 26px 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-front {
  gap: 14px;
}

.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #383171;
  margin-inline: auto;
}

.card-back {
  transform: rotateY(180deg);
  justify-content: space-between;
}


h2 {
  margin: 0;
  font-size: 1.6rem;
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%,
  rgba(0, 212, 255, 1) 100%);
  background-clip: text;
  color: transparent;
}

p {
  padding-bottom: 50px;
  margin: 0;
  line-height: 1.5;
  color: #555;
  font-size: 0.95rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    padding-top: 40px;
  margin: 0 0 12px;
  font-size: 1.3rem;
  color: #6c63ff;
}


.links {
   padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.links a {
  padding: 10px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.85rem;
  color: #fff;
  background: #6c63ff;
  transition: background 0.25s;
}

.links a:hover,
.links a:focus-visible {
  background: #5146d8;
}


@media (max-width: 450px) {
  .card {
    height: 440px;
  }

  .profile-img {
    width: 120px;
    height: 120px;
  }

  h2 { font-size: 1.4rem; }
  h3 { font-size: 1.2rem; }
  p  { font-size: 0.9rem; }
}
